
.box {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 10px;
    border-radius: 5px;


}

.key-container {
    display: inline-block;
    background: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
}

.key {
    position: relative;
    background: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.key:active {
    background: blue;
}

.key-wide {
    display: inline-block;
    background: #d81a00;
    padding: 15px;
    border-radius: 10px;
}

.key-mesa {
    display: inline-block;
    background: #f45519;
    padding: 12px;
    border: 10px solid transparent;
    border-radius: 24px;

    background:
        /* Inner background */
        linear-gradient(to bottom right, #FF9764, #8C0001) padding-box,
        radial-gradient(circle at center, rgba(0, 0, 255, .05) 65%, rgba(0, 200, 255, .5) 100%) border-box,

        /* Border gradient */
        linear-gradient(to bottom right, #FF9764, #8C0001) border-box;
}

.key-face {
    display: inline-block;
    background:green;
    padding: 60px;
    border-radius: 22px;
}


.rubber-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    background:
        linear-gradient(to bottom, #44BBEC, #1C95DC);

    z-index: 1;
}

.rubber-button:active {
    outline: #7AA316 solid;
    outline-width: 8px;

}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;

    display: inline-block;
    position: relative;
    width: 83%;
    height: 83%;
    border-radius: 50%;
    box-sizing: border-box;

    z-index: 0;

}

.s1::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background:
        linear-gradient(to top, #44BBEC, #1C95DC);
    filter: blur(5px);

    z-index: -1;
}

.s2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    z-index: 0;
}

.s2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background:
        linear-gradient(to bottom, #2AABE2, #25A6DC);
    filter: blur(15px);

    z-index: -1;
}

.label {
display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);

    border-radius: 50%;


    font-family: "Roboto", sans-serif;
    font-size: 70px;
    color: #1A94DA;
    font-weight: bold;
    text-shadow:
        0 -3px 1px #0B89D0,  /* top highlight */
        0 2px 2px #40BCF4;       /* bottom shade */



    z-index: 1;
}





/*<div class="key-container">*/
/*    <div class="pushbutton-frame">*/
/*        <button class="pushbutton">*/
/*            <span class="pushbutton-base">*/
/*                <span class="pushbutton-face">*/
/*                    <span class="pushbutton-label">*/
/*                        Button*/

.pushbutton-frame {
    display: inline-block;
    background: white;
    padding: 10px;
}

.pushbutton {}

.pushbutton-base {}

.pushbutton-face {}

.pushbutton-label {}








