
.box {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 10px;
    border-radius: 5px;


}

.key-container {
    display: inline-block;
    background: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
}

.key {
    position: relative;
    background: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.key:active {
    background: blue;
}

.key-wide {
    display: inline-block;
    background: #d81a00;
    padding: 15px;
    border-radius: 10px;
}

.key-mesa {
    display: inline-block;
    background: #f45519;
    padding: 12px;
    border: 10px solid transparent;
    border-radius: 24px;

    background:
        /* Inner background */
        linear-gradient(to bottom right, #FF9764, #8C0001) padding-box,
        radial-gradient(circle at center, rgba(0, 0, 255, .05) 65%, rgba(0, 200, 255, .5) 100%) border-box,

        /* Border gradient */
        linear-gradient(to bottom right, #FF9764, #8C0001) border-box;
}

.key-face {
    display: inline-block;
    background:green;
    padding: 60px;
    border-radius: 22px;
}



.rubber-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    background:
        linear-gradient(to bottom, #44BBEC, #1C95DC);

    z-index: 1;
}

.rubber-button:active {
    outline: #7AA316 solid;
    outline-width: 8px;

}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;

    display: inline-block;
    position: relative;
    width: 83%;
    height: 83%;
    border-radius: 50%;
    box-sizing: border-box;

    z-index: 0;

}

.s1::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background:
        linear-gradient(to top, #44BBEC, #1C95DC);
    filter: blur(5px);

    z-index: -1;
}

.s2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    z-index: 0;
}

.s2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background:
        linear-gradient(to bottom, #2AABE2, #25A6DC);
    filter: blur(15px);

    z-index: -1;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);

    border-radius: 50%;


    font-family: "Roboto", sans-serif;
    font-size: 70px;
    color: #1A94DA;
    font-weight: bold;
    text-shadow:
        0 -3px 1px #0B89D0,  /* top highlight */
        0 2px 2px #40BCF4;       /* bottom shade */



    z-index: 1;
}





/*<div class="key-container">*/
/*    <div class="pushbutton-frame">*/
/*        <button class="pushbutton">*/
/*            <span class="pushbutton-base">*/
/*                <span class="pushbutton-face">*/
/*                    <span class="pushbutton-label">*/
/*                        Button*/



.pushbutton-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 410;
    height: 110px;
    padding: 0px;
    border-radius: 9999px;

/*    background:*/
/*        linear-gradient(to bottom, #166bc0, #25A6DC);*/

/*    background: #2b2b2b;*/
    border-radius: 9999px;

/*    box-shadow:*/
/*        inset 0 3px 4px rgba(0,0,0,0.7),        dark top */
/*        inset 0 -2px 3px rgba(255,255,255,0.08);  light bottom */


    box-shadow:
        0  10px 12px rgba(0,0,0,0.88),
        0 -10px 12px rgba(255,255,255,0.18);

    z-index: 0;
}

.pushbutton-frame::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
/*    transform: translate(-50%, -50%);*/
    background: red;
/*        linear-gradient(to bottom, #4f5153, #25A6DC);*/

    filter: blur(10px);

    z-index: -1;
}

.pushbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 4px;
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;

    background: linear-gradient(to top, rgba(0, 0 ,0, 1), rgba(40, 40, 40, 1));

}
.pushbutton:active {
    background: orange;
}

.pushbutton-base {
    display: flex;
    justify-content: center;
    align-items: center;

    display: inline-block;
    box-sizing: border-box;
    position: relative;

    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9999px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0.5px;
    padding-left: 0.5px;
    background:
        linear-gradient(to bottom, #ffc4b9, #ab3d18);

}

.pushbutton-face {
    display: flex;
    justify-content: center;
    align-items: center;

    display: inline-block;
    box-sizing: border-box;
    position: relative;

    width: 99%;
    height: 99%;
    border: none;
    border-radius: 9999px;
    padding: 5px;

    background:
        linear-gradient(to bottom, #f54412 0%, #fc530d 20%, #ff7613 70%);

}

.pushbutton-label {
        display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);

    border-radius: 50%;


    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #ffffff;
    font-weight: lighter;
    text-shadow:
        0 -3px 1px #e55c2d,  /* top highlight */
        0 2px 2px #7b3f24;       /* bottom shade */
}








